body {
    margin: 0;
    padding: 0;
}

header {
    height: 33vh;
    margin: 0;
}

footer {
    z-index: -1;
    position:relative;
    height: 45vh;
    padding:0;
    
}

nav {
    height: 0vh;
}

article {
    margin: 0;
    padding: 0;
}

header {
    background: url("images/purple.jpg");
    background-position: cover;
    background-size: cover;
    margin-bottom: 0px;
}
footer {
    background: url("images/purple.jpg");
    background-position: cover;
    background-size: cover;
    margin-top: 0;
}



.flexbox {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.shadow {
    margin:0;
    border: black solid 1px;
    box-shadow: 0 0 15px 10px #222;
}
.constelations.flexbox div {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.bck_col {
    position: relative;
}

.bck_col::after {
    opacity: 0.2;
    position:absolute;
    z-index: -1;
    top:0;
    bottom:0;
    right:0;
    left:0;
    content: "";
    background-color:rgb(116, 48, 224);

}

.background {
    position:relative;
}
.background::after {
    background-image: url("images/cosmos.jpg");
    background-color: rgb(116, 48, 224);
    background-blend-mode: difference;
    background-attachment: fixed;   
    background-size: 100% auto; 
    position:absolute;
    content: "";
    top:0;
    bottom:0;
    right:0;
    left:0;
    opacity: 0.6;
    z-index: -1;
}


.g_logo  {
    margin: 15px;
    flex: 3;
}

.g_logo img {
    width:100%;
}


.g_info {
    overflow-y:scroll;
    text-align:center;
    font-size:small;
    font-family: 'Courier New', Courier, monospace;
    font-weight:600;
    flex: 5;
    padding: 0;
    margin: 0;
    height:200px;
}

.g_pics {
    flex: 2;
    margin: 15px;        
}

.g_pics img{
    width: 100%;
}

.c_name_logo {
    flex: 3;
    margin: 15px;
}

.c_name_logo img {
    width:100%;
}

.c_stars {
    flex: 7;
    display:flex;
    justify-content: space-around;
    margin: 15px;
}
.c_stars img {
    width: 20%;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: stretch;
    justify-content: center;
    margin: 0;
    padding: 50px 0;
}

li {
    margin: 30px;
}

li img {
    height: 40vh;
    padding:0px;
    margin:50px;
}

@media (max-width: 700px) {
    .g_logo, .g_pics {
      min-width: 33.33%; 
    }
  }
  
  @media (max-width: 700px) {
    .g_info {
      min-width: 80vh; 
    }
  }

  @media (max-width: 400px) {
    .g_info    {
      min-width: 60%; 
    }
  }

  @media (max-width: 400px) {
    .g_info, .g_pics    {
      min-width: 20%; 
    }
  }